[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libassert"]
	path = libs/libassert
	url = https://github.com/jeremy-rifkin/libassert.git
[submodule "libs/Xoshiro-cpp"]
	path = libs/Xoshiro-cpp
	url = https://github.com/Reputeless/Xoshiro-cpp.git
